<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Share</title>
    <!-- Styles -->
    <style>
      form {
        margin: 0 auto;
        display: grid;
        gap: 0.5rem;
        grid-template-columns: auto 1fr;
        max-width: 500px;
      }
      div {
        display: flex;
        flex-direction: column;
      }
      button {
        grid-column: span 2;
      }
      p {
        color: red;
        font-size: 0.9rem;
      }
    </style>
  </head>

  <!-- Body -->
  <body>
    <!-- Form -->
    <form method="post">
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <% if (locals.error) { %>
        <p>Wrong password!</p>
        <% } %>
      </div>
      <button type="submit">Download</button>
    </form>
  </body>
</html>
